.article-content {
    display: flex;
}

.article-menu {
    height: 100%;
    width: 200px;
    min-width: 200px;
    background-color: #f8f8f8;
}

.article-list {
    height: 100%;
    width: 300px;
    min-width: 300px;
    background-color: #f8f8f8;
    margin-left: 2px;
}

.article-editor {
    margin-left: 2px;

}

/*工具栏*/
.editor-toolbar {
    display: flex;
    padding: 5px;
    padding-right: 15px;
    margin-bottom: 2px;
    background-color: #f8f8f8;
}
.toolbar {

}
.toolbar-button {
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.editor {
    background-color: #f8f8f8;
}

.new-button {
    width: 150px;
    height: 31px;
    border: 2px red;
    border-radius: 10px;
    padding-top: 4px;
    font-size: 18px;
    text-align: center;
    background-color: brown;
    color: white;
}

.new-button:hover {
    background-color: red;
}

i.el-icon-plus {
    margin-right: 5px;
}