<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
  <title>首页</title>
</head>
<body>
<div layout:fragment="content" class="main-app" >
  <el-menu :default-active="activeIndex" class="el-menu-demo" mode="horizontal" @select="handleSelect">
    <el-menu-item index="1">我的主页</el-menu-item>
    <el-menu-item index="2">牛批工具</el-menu-item>
    <el-menu-item index="3">沙皮文章</el-menu-item>
  </el-menu>
  <iframe id="menu-iframe" frameborder="0" scrolling="yes" :height="iframeHeight" width="100%" :src="activeSrc"></iframe>
</div>
<div layout:fragment="footer">
  <link th:href="@{'/assets/index.css'}" rel="stylesheet">
  <script type="text/javascript" th:src="@{'/assets/index.js'}"></script>
</div>
</body>
</html>